<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールアドレスがこちらに変更されたことをお知らせします。<%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>あなたのメールアドレスがこちらに変更されたことをお知らせします。<%= @resource.email %>.</p>
<% end %>
