<p>こんにちは <%= @resource.email %>!</p>

<p>サインインの試行回数が多すぎるため、アカウントがロックされています。</p>

<p>
アカウントのロックを解除するには、以下のリンクをクリックしてください。</p>

<p><%= link_to 'ロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>
